{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clarification</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
      body {
          min-height: 100vh;
          overflow-x: hidden;
          font-family:Arial, Helvetica, sans-serif ;
      }
      .vertical-nav {
        min-width: 23rem;
        width: 23rem;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
        transition: all 0.4s;
      }
      .page-content {
        width: calc(100% - 17rem);
        margin-left: 23rem;
        transition: all 0.4s;
      } 

      #sidebar.active {
        margin-left: -23rem;
      }

      #content.active {
        width: 100%;
        margin: 0;
      }

      .separator {
        margin: 3rem 0;
        border-bottom: 1px dashed #fff;
      }

      .text-uppercase {
        letter-spacing: 0.1em;
      }
      .text-gray {
        color: #aaa;
      }
      .nav-link{
          text-transform: capitalize;
      }
      .nav-link:hover{
          background:#f3f2f2;
      }
      .text-primary{
          color:#a82707 !important;

      }
      @media (max-width: 768px) {
        #sidebar {
          margin-left: -23rem;
        }
        #sidebar.active {
          margin-left: 0;
        }
        #content {
          width: 100%;
          margin: 0;
        }
        #content.active {
          margin-left: 23rem;
          width: calc(100% - 23rem);
        }
      }
      .container {
        width: 100%;
      }
    </style>
  </head>
  <body>
    <div class="page-content p-5" id="content">
      <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">Menu</small></button>
      <div class="vertical-nav bg-white" id="sidebar">
        <div class="py-4 px-3 mb-4 bg-light">
          <div class="media d-flex align-items-center">
            <img decoding="async" src="{% static 'image/RIT_logo.png' %}" alt="..." width="80" height="80" class="mr-3 rounded-top img-thumbnail shadow-sm">
            <div class="media-body">
              <h4 class="m-0">E-Approval</h4>
              <p class="font-weight-normal text-muted mb-0">Ramco Institute of Technology</p>
            </div>
          </div>
        </div>
      
        <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Dashboard</p>
      
        <ul class="nav flex-column bg-white mb-0">
          <li class="nav-item">
            <a href="#" class="nav-link text-dark ">
                      <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                      home
                  </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'create_form' %}" class="nav-link text-dark" >
                      <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
                      Create E-Approval
                  </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'auth_approval' %}"class="nav-link text-dark">
                      <i class="fa fa-check-square mr-3 text-primary fa-fw"></i>
                      Authorize E approval
                  </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'clarification' %}"class="nav-link bg-info text-white">
                      <i class="fa fa-question-circle mr-3 text-primary fa-fw"></i>
                      Clarification
                  </a>
          </li>
      
          <li class="nav-item">
            <a href="{% url 'view_approval' %}"class="nav-link text-dark">
                      <i class="fa fa-eye mr-3 text-primary fa-fw"></i>
                      View Appoval
                  </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'approval_user_details' %}" class="nav-link text-dark">
                      <i class="fa fa-users mr-3 text-primary fa-fw"></i>
                      E approval user details
                  </a>
          </li>
        </ul>
      </div>
      <div class="container border" style="max-width:100%; margin: none;">
        <div class="document col" style="line-height: 2;">
          <div class="document-clarification col border" style="max-width:100%;">
            <div class="document-head">
              <label class="doc-1">Document Clarificaton</label>
            </div>
            <div class="document-body row">
              <div class="doc col-md-4">
                <div class="doc-con form-group row mt-2">
                  <label class="col-sm-4 col-form-label" id="tags">Document no</label>
                  <div class="col-sm-5 mb-2">
                    <form id="clarificationForm" action="{% url 'clarification' %}" method="get">
                      <select class="form-control" id="document_data_select" name="document_data_value" onchange="handleSelectChange()" aria-label="Default select example">
                        {% for key, value in document_data_value.items %}
                        <option value="{{ key }}|{{ value }}">{{ value }}</option>
                        {% endfor %}
                      </select>
                      <button type="submit" id="submit-button">submit</button>
                    </form>
                  </div>
                </div>
                <form  method="POST" action="{% url 'updateapproval' %}" autocomplete="off">
                  {% csrf_token %}
                <div class="doc-con form-group row mt-2">
                  <label class="col-sm-4 col-form-label" id="tags">Date-</label>
                  <input id="tag-ans" class="mt-2"value="{{document_data.date}}">
                </div>
                <div class="doc-con form-group row mt-2">
                  <label class="col-sm-4 col-form-label" id="tags">Priority-</label>
                  <input id="tag-ans" class="mt-2"value="{{document_data.Priority}}">
                </div>
                <div class="doc-con form-group row mt-2">
                  <label class="col-sm-4 col-form-label" id="tags">Status-</label>
                  <input id="tag-ans" class="mt-2"value="{{document_data.date}}">
                </div>
                <div class="doc-conform-group row mt-2 mb-2">
                  <label class="col-sm-4 col-form-label" id="tags">Attached document-</label>
                  <a href="">

                    <button class=" btn btn-danger ml-2">
                      <i class="bi bi-file-pdf"></i>
                    </button>                  
                  </a>                  
                </div>
              </div>
              <div class="doc col-md-4">
                <div class="doc-con form-group row mt-2">
                  <label class="col-sm-4 col-form-label" id="tags">Department-</label>
                  <input id="tag-ans" class="mt-2"value="{{document_data.Department}}">
                </div>
                <div class="doc-con form-group row mt-2">
                  <label class="col-sm-4 col-form-label" id="tags">Category-</label>
                  <input id="tag-ans" class="mt-2"value="{{document_data.Category}}">
                </div>
                <div class="doc-con form-group row mt-2">
                  <label class="col-sm-4 col-form-label" id="tags">Sub category-</label>
                  <input id="tag-ans" class="mt-2"value="{{document_data.Sub_Category}}">
                </div>
                <div class="doc-con form-group row mt-2">
                  <label class="col-sm-4 col-form-label" id="tags">Trans no-</label>
                  <input id="tag-ans" class="mt-2"value="{{document_data.Tran_No}}">
                </div>
              </div>
              <div class="doc col-md-4">
                <input type="text" hidden name="Document_no"  value="{{document_data.Document_no}}">
                <input type="text" hidden name="remarks_document_data"  value="{{remarks_document_data.Document_no}}">

                <div class="doc-con form-group row mt-2">
                  <label class="col-sm-4 col-form-label" id="tags">Currency-</label>
                  <span id="tag-ans">INR</span>
                </div>
                <div class="doc-con form-group row mt-2">
                  <label class="col-sm-4 col-form-label" id="tags">Fin commitment-</label>
                  <input id="tag-ans" class="mt-2"value="{{document_data.fin_commit}}">
                </div>
                <div class="doc-con form-group row mt-2">
                  <label class="col-sm-4 col-form-label" id="tags">Total Value-</label>
                  <input id="tag-ans" class="mt-2"value="{{document_data.Total_Value}}">
                </div>
              </div>
            </div>
          </div>
          <!--end of document clarificaiton-->
          <div class="second-sec row-12 border">
            <div class="document-remarks row-xs-4 ">
              <div class="document-head">
                <label >Document remarks</label>
              </div>
              <div class="remarks-body">
                <div class="remarks row">
                  <label id="tags" class="col-sm-2 ml-2 col-form-label">Remarks</label>
                  <div class="col-sm-9">
                    <input class="form-control mt-2 col-10" placeholder="Remarks" style="height: 70px;"></input>
                  </div>
                </div>
                <div class="subject row mt-2">
                  <label id="tags" class="col-sm-2 ml-2 col-form-label">Subject</label>
                  <div class="col-sm-9  mb-2">
                    <input class="form-control mt-2 col-10" placeholder="Subject"></input>
                  </div>
                </div>
              </div>
            </div>

            <div class="responsibe-user row-3">
              <div class="document-head">
                <label class="row-sm-6 ml-2 col-form-label">Responsibe user</label>
              </div>
              <div class="responsibe-body">
                <div class="subject row">
                  <label class="col-sm-4 ml-2 col-form-label" id="tags">Full name</label>
                  <div class="body-response ml-5">
                    <span>Academics regarding</span>
                  </div>
                </div>
                <div class="subject row">
                  <label id="tags" class="col-sm-4 ml-2 col-form-label">Designation</label>
                  <div class="body-response ml-5">
                    <span> Chief financial officer </span>
                  </div>
                </div>
                <div class="subject row">
                  <label id="tags" class="col-sm-4 ml-2 col-form-label">User name</label>
                  <div class="body-response ml-5">
                    <span>RMLAPP</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="reroute-comments row-3 border">
              <div class="comments-body">
                <label class="reroutes-text ml-2">Reroute comments</label>
                <div class="body-response">
                  <input class="form-control ml-2 mt-2 col-10" placeholder="Reroute comments" style="height: 70px;"value="{{remarks_document_data.doc_remarks}}">
                </div>
              </div>
            </div>
          </div>
          <!-- end of second sec-->
          <div class="third-sec border mt-2">
            <label class="row-sm-6 col-form-label">Clarification given</label>
            <div class="click-body row">
              <div class="click col-md-4"style="text-align: center;">
                <label class="mx-4"for="myCheckbox" id="tags">click</label>
                <input type="checkbox" id="myCheckbox" />
              </div>
              <div class="reroute-tag col-md-4">
                <label id="tags" class="col-sm-4 col-form-label">Reroute Clarification</label>
                <div>
                  <input class="form-control mt-2 col-10" name='doc_clarifictaions_reason' placeholder="Reroute Clarification" style="height: 70px;"></input>
                </div>
              </div>
            </div>
          </div>
          <!-- end of clarificaition given-->
          <div class="submit border mt-2 mb-2" style="text-align: center;">
            <button type="submit"class="btn btn-success btn-lg ">Submit</button>
          </div>
          <!--end of click-->
          <div class="data border">
            <div class="col-md-6">
              <div class="doc-row" >
                <label class="row-sm-6 col-form-label" id="tags">Created by:</label>
                <span id="tags">-</span>
              </div>
              <div class="doc-row">
                <label class="row-sm-6 col-form-label" id="tags">Created date:</label>
                <span id="tags">-</span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="doc-row">
                <label class="row-sm-6 col-form-label" id="tags">Modified by:</label>
                <span id="tags">-</span>
              </div>
              <div class="doc-row">
                <label class="row-sm-6 col-form-label" id="tags">Modified date:</label>
                <span id="tags">-</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      $(function() { 
        $('#sidebarCollapse').on('click', function() {
          $('#sidebar, #content').toggleClass('active');
        });
      });
    </script>
  </body>
</html>
